---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Works / WordWise</h1>
  <p>
    A Google Translate desktop app interface that can be used to mass translate
    .txt and .pdf files. Used to apply Metamorphic Testing to test the
    limitations of machine translation.
  </p>
</MainLayout>
