---

---

<ol class="relative border-s border-lm-green dark:border-dm-green-button">
  <li class="mb-5 ms-4">
    <div
      class="absolute w-3 h-3 bg-lm-green rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-dm-green-button"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none dark:text-gray-500"
      >March 2020 - July 2023</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Swinburne University of Technology, Melbourne, Australia
    </h3>
    <p class="text-base font-normal dark:text-gray-400">
      Bachelor of Computer Science (Software Development).
    </p>
  </li>
</ol>
