---
import MainLayout from "../layouts/MainLayout.astro";
import TimeLineEducation from "../components/cv/TimeLineEducation.astro";
import TimeLineExperience from "../components/cv/TimeLineExperience.astro";
import SkillsTech from "../components/cv/SkillsTech.astro";
import SkillsOther from "../components/cv/SkillsOther.astro";
---

<MainLayout title="CV">
  <h1 class="font-bold text-3xl mb-7">CV / Resume</h1>

  <section>
    <h2 class="font-bold text-2xl my-6">About</h2>
    <p class="text-justify">
      My name is Danny Bao, 22 years old. A self-proclaimed "Dabbler in Tech"
      that graduated from Swinburne University of Technology with a Bachelor
      Degree in Computer Science (Software Development) to show for it. I can't
      say I whole heartedly say I love software development, it has its ups and
      downs and I'm looking to explore or <span class="italic">dabble</span>, to
      find what sticks for me. Currently unemployed.
    </p>
  </section>

  <section>
    <h2 class="font-bold text-2xl my-6">Education</h2>
    <TimeLineEducation />
  </section>

  <section>
    <h2 class="font-bold text-2xl my-6">Experience</h2>
    <TimeLineExperience />
  </section>

  <section>
    <h2 class="font-bold text-2xl my-6">Certifications</h2>
    <ul>
      <li class="list-disc ml-4">Total TypeScript Beginner's Workshop</li>
      <li></li>
    </ul>
  </section>

  <section>
    <h2 class="font-bold text-2xl mt-6 mb-3">Skills</h2>
    <div>
      <ul>
        <div class="grid grid-cols-5">
          <SkillsTech
            techSkills={["HTML", "CSS", "JavaScript", "Tailwind", "Astro"]}
          />
        </div>
        <li class="font-semibold text-xl mt-3 mb-2">Other</li>
        <div class="grid grid-cols-5">
          <SkillsOther otherSkills={["Figma", "Spline"]} />
        </div>
      </ul>
    </div>

    <section>
      <h2 class="font-bold text-2xl my-6">Interests</h2>
      <p>
        I also dabble in many other things such as learning Japanese, playing
        'Gacha' games, and more.
      </p>
    </section>
  </section>
</MainLayout>
