---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-5xl dark:text-white">Index</h1>
  <p class="text-5xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto
    velit quisquam itaque aliquam, similique rerum quaerat minus omnis quia
    aspernatur atque iure, eius unde beatae. Laboriosam provident natus aliquam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto
    velit quisquam itaque aliquam, similique rerum quaerat minus omnis quia
    aspernatur atque iure, eius unde beatae. Laboriosam provident natus aliquam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto
    velit quisquam itaque aliquam, similique rerum quaerat minus omnis quia
    aspernatur atque iure, eius unde beatae. Laboriosam provident natus aliquam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto
    velit quisquam itaque aliquam, similique rerum quaerat minus omnis quia
    aspernatur atque iure, eius unde beatae. Laboriosam provident natus aliquam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto
    velit quisquam itaque aliquam, similique rerum quaerat minus omnis quia
    aspernatur atque iure, eius unde beatae. Laboriosam provident natus aliquam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto
    velit quisquam itaque aliquam, similique rerum quaerat minus omnis quia
    aspernatur atque iure, eius unde beatae. Laboriosam provident natus aliquam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto
    velit quisquam itaque aliquam, similique rerum quaerat minus omnis quia
    aspernatur atque iure, eius unde beatae. Laboriosam provident natus aliquam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto
    velit quisquam itaque aliquam, similique rerum quaerat minus omnis quia
    aspernatur atque iure, eius unde beatae. Laboriosam provident natus aliquam?
  </p>
</MainLayout>
