---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
import MostRecentArticle from "../components/MostRecentArticle.astro";

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const mostRecentArticle: CollectionEntry<"blog"> = allBlogArticles[0];
---

<MainLayout title="Homepage">
  <div
    class="my-6 p-3 text-center rounded-lg text-lm-text-color dark:text-dm-white bg-lm-navbar-bkg dark:bg-dm-highlight-box"
  >
    Hello, I'm a learning developer based in Australia!
  </div>

  <Hero />

  <div class="mb-6">
    <h3
      class="text-xl font-semibold mt-6 mb-3 underline underline-offset-4 decoration-4 decoration-[#525252]"
    >
      About
    </h3>
    <p class="text-justify">
      My name is Danny Bao, 22 years old. A self-proclaimed "Dabbler in Tech"
      that graduated from Swinburne University of Technology with a Bachelor
      Degree in Computer Science (Software Development) to show for it. I can't
      say I whole heartedly say I love software development, it has its ups and
      downs but I'm looking to explore or dabble, to find what sticks for me.
      Currently unemployed.
    </p>
    <div class="text-center my-4">
      <Button buttonText="My portfolio >" destination="/works" />
    </div>
  </div>

  <div>
    <h3
      class="text-xl font-semibold mt-6 mb-3 underline underline-offset-4 decoration-4 decoration-[#525252]"
    >
      Bio
    </h3>
    <div class="mb-6">
      <div>
        <span class="font-bold mr-4">2001</span>Born in Melbourne, Australia
      </div>
      <div>
        <span class="font-bold mr-4">2023</span>Completed the Bachelor of
        Computer Science (Software Development) Course at Swinburne University
        of Technology, Melbourne
      </div>
      <div>
        <span class="font-bold mr-4">2024+</span>Unemployed (無職)
      </div>
    </div>
  </div>

  <div>
    <h3
      class="text-xl font-semibold mt-6 mb-3 underline underline-offset-4 decoration-4 decoration-[#525252]"
    >
      I &#9829
    </h3>
    <p>
      Gaming, Listening to Music, Art, Learning, Pen Spinning (ペン回し),
      Japanese Language
    </p>
  </div>

  <div>
    <h3
      class="text-xl font-semibold mt-6 mb-3 underline underline-offset-4 decoration-4 decoration-[#525252]"
    >
      On the web
    </h3>

    <ul>
      <li>
        <a
          href="https://github.com/ponktoku"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button>
            <span
              class="font-medium text-lm-green-hover dark:text-dm-green-button
              hover:bg-[#E6FFFA] dark:hover:dark:bg-dm-badge-bg px-4 py-2.5 align-middle rounded-md"
              ><svg
                class="w-4 h-4 inline-block box-border mr-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 2c-2.4 0-4.7.9-6.5 2.4a10.5 10.5 0 0 0-2 13.1A10 10 0 0 0 8.7 22c.5 0 .7-.2.7-.5v-2c-2.8.7-3.4-1.1-3.4-1.1-.1-.6-.5-1.2-1-1.5-1-.7 0-.7 0-.7a2 2 0 0 1 1.5 1.1 2.2 2.2 0 0 0 1.3 1 2 2 0 0 0 1.6-.1c0-.6.3-1 .7-1.4-2.2-.3-4.6-1.2-4.6-5 0-1.1.4-2 1-2.8a4 4 0 0 1 .2-2.7s.8-.3 2.7 1c1.6-.5 3.4-.5 5 0 2-1.3 2.8-1 2.8-1 .3.8.4 1.8 0 2.7a4 4 0 0 1 1 2.7c0 4-2.3 4.8-4.5 5a2.5 2.5 0 0 1 .7 2v2.8c0 .3.2.6.7.5a10 10 0 0 0 5.4-4.4 10.5 10.5 0 0 0-2.1-13.2A9.8 9.8 0 0 0 12 2Z"
                  clip-rule="evenodd"></path>
              </svg>
              @ponktoku
            </span>
          </button>
        </a>
      </li>
    </ul>
  </div>

  <div class="my-6">
    <div class="flex justify-between mb-3 items-center">
      <p
        class="text-xl font-semibold mt-6 mb-3 underline underline-offset-8 decoration-4 decoration-[#525252]"
      >
        Latest blog post
      </p>
      <Button buttonText="View all" destination="/posts" />
    </div>
    <MostRecentArticle article={mostRecentArticle} />
  </div>

  <div>
    <h3
      class="text-xl font-semibold mt-6 mb-3 underline underline-offset-4 decoration-4 decoration-[#525252]"
    >
      Search
    </h3>

    <div id="search"></div>
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        // @ts-ignore
        new PagefindUI({
          element: "#search",
          showSubResults: true,
          showImages: false,
        });
      });
    </script>
  </div>
</MainLayout>
