---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { capitalise } from "../utils";

const allPosts = await getCollection("blog");
const tags = [
  ...new Set(
    allPosts
      .map((post) => post.data.tags)
      .flat()
      .sort()
  ),
];

const categories = [
  ...new Set(
    allPosts
      .map((post) => post.data.category)
      .flat()
      .sort()
  ),
];
---

<MainLayout>
  <h1>Tag Index</h1>
  {
    tags.map((tag) => (
      <p>
        <a href={`/posts/tag/${tag}`}>{capitalise(tag)}</a>
      </p>
    ))
  }

  <h1>Categories</h1>
  <div>
    {
      categories.map((category) => (
        <p>
          <a href={``}>{category}</a>
        </p>
      ))
    }
  </div>
</MainLayout>
