---
import MainLayout from "../layouts/MainLayout.astro";
import WorkGridItem from "../components/WorkGridItem.astro";

// Work thumbnails
import thumbWordWise from "../assets/works/WordWiseSecondPage.png";
import thumbHomepage from "../assets/works/homepage_01.png";

// Work descriptions
const descriptionWordWise =
  "University Project investigating the validity of machine translations using Metamorphic Testing.";

const descriptionHomepage = "My personal website/blog";
---

<MainLayout title="My works">
  <h1 class="font-bold text-xl mb-4">Works / Projects</h1>
  <section class="grid sm:grid-cols-1 md:grid-cols-2 gap-6">
    <WorkGridItem
      title="ponktoku.dev homepage"
      href="homepage"
      thumbnail={thumbHomepage}
      alt="ponktoku.dev thumbnail"
      description={descriptionHomepage}
    />
    <WorkGridItem
      title="WordWise"
      href="wordwise"
      thumbnail={thumbWordWise}
      alt="WordWise thumbnail"
      description={descriptionWordWise}
    />
  </section>
</MainLayout>
