---
import MainLayout from "../layouts/MainLayout.astro";
import WorkGridItem from "../components/WorkGridItem.astro";

// Work thumbnails
import thumbWordWise from "../assets/works/WordWiseSecondPage.png";

// Work descriptions
const descriptionWordWise =
  "University Project investigating the validity of machine translations using Metamorphic Testing.";
---

<MainLayout title="My works">
  <h1 class="font-bold text-xl mb-4">Works / Projects</h1>
  <section class="grid sm:grid-cols-1 md:grid-cols-2">
    <WorkGridItem
      title="WordWise (2022)"
      href="wordwise"
      thumbnail={thumbWordWise}
      alt="WordWise thumbnail"
      description="University Project investigating the validity of machine translations using Metamorphic Testing."
    />
  </section>
</MainLayout>
