---
import { formatDate, capitaliseAll } from "../utils";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";
import CategoryBadge from "./CategoryBadge.astro";

const { article } = Astro.props;

interface Props {
  article: CollectionEntry<"blog">;
}
---

<div class="mt-5 max-w-md mx-auto grid">
  <div
    class="bg-white dark:bg-article-bg border-article-border dark:border-article-border border overflow-ellipsis shadow-lg"
  >
    <a href={"/posts/" + article.slug}>
      <img
        src={"/cover/" + article.data.cover}
        alt="Article Image"
        class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out border-b border-article-border dark:border-article-border"
      />
    </a>
    <div class="p-6">
      <h2 class="text-2xl font-semibold mb-2 text-ellipsis">
        <a href={"/posts/" + article.slug}>{article.data.title}</a>
      </h2>
      <p class="text-gray-600 dark:text-dm-white text-sm mb-4">
        {formatDate(article.data.pubDate)}
        <CategoryBadge
          href={"/posts/category" + article.data.category}
          class="ml-1"
        >
          {capitaliseAll(article.data.category)}
        </CategoryBadge>
      </p>
      <Tags tags={article.data.tags} />
    </div>
  </div>
</div>
