---
const props = Astro.props;
---

<blockquote
  {...props}
  class="bg-[#EDF2F7] dark:bg-dm-highlight-box px-4 pb-1 my-5 rounded-md border-l-4 border-lm-green dark:border-dm-green-button"
>
  <span class="text-4xl text-lm-blue dark:text-dm-pink">"</span>
  <slot />
</blockquote>
