---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"a"> {}

const { class: className, ...rest } = Astro.props;
---

<a
  {...rest}
  class:list={[
    "bg-[#EDF2F7] dark:bg-dm-highlight-box text-xs px-1 rounded-sm align-middle hover:opacity-80",
    className,
  ]}
>
  <slot />
</a>
