---
import "@fontsource/m-plus-rounded-1c/400.css";
---

<div class="sticky bottom-0 h-24 z-10 pointer-events-none"></div>
<footer
  class="mt-auto mx-auto px-4 max-w-xl py-4 w-full text-sm text-gray-500 text-center"
>
  <div>
    <p>&#169 2024 Danny Bao</p>
    <p>Made with Astro and Tailwind</p>
  </div>
</footer>
