---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<span
  class:list={[
    "bg-[#EDF2F7] dark:bg-dm-highlight-box text-xs px-1 rounded-sm align-middle font-bold",
    className,
  ]}
>
  <slot />
</span>
