---
import ThemeIcon from "./ThemeIcon.astro";
import "@fontsource/m-plus-rounded-1c/400.css";
import "@fontsource/m-plus-rounded-1c/500.css";
import "@fontsource/m-plus-rounded-1c/700.css";

import localTrashLogo from "../assets/trash-svgrepo-com.svg";

const currentPath = Astro.url.pathname;
const firstPath = currentPath.split("/")[1];
---

<nav
  class="bg-white border-gray-200 dark:bg-dm-dark-gray dark:border-dm-dark-gray
  sticky top-0 backdrop-filter backdrop-blur-lg bg-opacity-30 border-b
  dark:backdrop-blur-lg dark:bg-opacity-30 dark:backdrop-filter z-50"
>
  <div
    class="max-w-screen-lg flex flex-wrap items-center justify-evenly mx-auto p-4"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src={localTrashLogo.src} class="h-8" alt="Trash Can Logo" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-dm-white"
        >Danny Bao</span
      >
    </a>
    <span class="flex-grow md:flex-grow-0"></span>
    <ThemeIcon />
    <button
      data-collapse-toggle="navbar-dropdown"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div
      class="hidden w-full md:block md:w-auto lg:mr-40 md:mr-20"
      id="navbar-dropdown"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-transparent md:dark:bg-transparent dark:border-transparent"
      >
        <li>
          <a
            href="/"
            class={currentPath === "/"
              ? "block md:inline py-2 px-3 rounded md:rounded-none hover-bg-gray-200 md:p-2 bg-dm-blue-pastel md:bg-dm-blue-pastel text-lm-text-color md:hover:underline md:hover:underline-offset-2"
              : "block py-2 px-3 rounded hover:bg-gray-200 md:hover:bg-transparent md:border-0 md:hover:text-dm-blue-pastel md:p-0 md:dark:hover:text-dm-blue-pastel dark:hover:bg-gray-700 md:dark:hover:bg-transparent md:hover:underline md:hover:underline-offset-2"}
            aria-current="page">Home</a
          >
        </li>
        <li>
          <button
            id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbar"
            class={firstPath === "posts" || firstPath === "tag-category-index"
              ? "flex items-center justify-between w-full py-2 px-3 rounded md:border-0 md:hover:text-blue-pastel bg-dm-blue-pastel md:text-dm-blue-pastel md:p-0 text-lm-text-color md:w-auto md:hover:text-dm-blue-pastel md:dark:hover:text-dm-blue-pastel dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 hover:bg-gray-200 dark:hover:text-dm-white md:hover:bg-transparent md:dark:hover:bg-transparent md:bg-transparent md:hover:underline md:hover:underline-offset-2"
              : "flex items-center justify-between w-full py-2 px-3 rounded hover:bg-gray-200 md:hover:bg-transparent md:border-0 md:hover:text-dm-blue-pastel md:p-0 md:w-auto md:dark:hover:text-dm-blue-pastel dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent md:hover:underline md:hover:underline-offset-2"}
            >Blog <svg
              class="w-2.5 h-2.5 ms-2.5 inline md:inline"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-400"
              aria-labelledby="dropdownLargeButton"
            >
              <li>
                <a
                  href="/posts"
                  class="block px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
                  >All posts</a
                >
              </li>
              <li>
                <a
                  href="/tag-category-index"
                  class="block px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Tag/Category Index</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
                  >TIL (wip)</a
                >
              </li>
            </ul>
            <div class="py-1">
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Uses</a
              >
            </div>
          </div>
        </li>
        <li>
          <a
            href="/works"
            class={firstPath === "works"
              ? "block md:inline py-2 px-3 rounded md:rounded-none hover-bg-gray-200 md:p-2 bg-dm-blue-pastel md:bg-dm-blue-pastel text-lm-text-color md:hover:underline md:hover:underline-offset-2"
              : "block py-2 px-3 rounded hover:bg-gray-200 md:hover:bg-transparent md:border-0 md:hover:text-dm-blue-pastel md:p-0 md:dark:hover:text-dm-blue-pastel dark:hover:bg-gray-700 md:dark:hover:bg-transparent md:hover:underline md:hover:underline-offset-2"}
            >Works</a
          >
        </li>
        <li>
          <a
            href="/cv"
            class={firstPath === "cv"
              ? "block md:inline py-2 px-3 rounded md:rounded-none hover-bg-gray-200 md:p-2 bg-dm-blue-pastel md:bg-dm-blue-pastel text-lm-text-color md:hover:underline md:hover:underline-offset-2"
              : "block py-2 px-3 rounded hover:bg-gray-200 md:hover:bg-transparent md:border-0 md:hover:text-dm-blue-pastel md:p-0 md:dark:hover:text-dm-blue-pastel dark:hover:bg-gray-700 md:dark:hover:bg-transparent md:hover:underline md:hover:underline-offset-2"}
            >CV</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class={firstPath === "contact"
              ? "block md:inline py-2 px-3 rounded md:rounded-none hover-bg-gray-200 md:p-2 bg-dm-blue-pastel md:bg-dm-blue-pastel text-lm-text-color md:hover:underline md:hover:underline-offset-2"
              : "block py-2 px-3 rounded hover:bg-gray-200 md:hover:bg-transparent md:border-0 md:hover:text-dm-blue-pastel md:p-0 md:dark:hover:text-dm-blue-pastel dark:hover:bg-gray-700 md:dark:hover:bg-transparent md:hover:underline md:hover:underline-offset-2"}
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
